<!DOCTYPE html>
<html lang="en" ng-app="mscproject">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Bootstrap -->
    <link href="/client/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/client/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <!-- App CSSs -->
    <link href="/client/css/topbar.css" rel="stylesheet" media="screen">
    <link href="/client/css/menu.css" rel="stylesheet" media="screen">
    <link href="/client/css/app.css" rel="stylesheet" media="screen">


    <!-- JQuery -->
    <script src="/client/js/jquery-1.9.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/client/js/bootstrap.js"></script>
    <!-- AngularJS -->
    <script src="/client/js/arrayIndexOf.js"></script>
    <script src="/client/js/angular.js"></script>
    <script src="/client/js/angular-resource.min.js"></script>
    <script src="/client/js/ui-bootstrap-tpls-0.3.0.js"></script>
    <!-- APP JS -->
    <script src="/client/js/app.js"></script>
    <script src="/client/js/services/busy.js"></script>
    <script src="/client/js/services/database.js"></script>
    <script src="/client/js/services/resources.js"></script>
    <script src="/client/js/services/auth.js"></script>
    <script src="/client/js/services/comments.js"></script>
    <script src="/client/js/services/als.js"></script>
    <script src="/client/js/services/media.js"></script>
    <script src="/client/js/services/users.js"></script>
    <script src="/client/js/services/projects.js"></script>
    <script src="/client/js/services/teams.js"></script>

</head>
<body>

    <div class="activity_bar {{BUSY.busy_class}}" ng-show="BUSY.busy()"></div>
    <div class="navbar navbar-fixed-top {{BUSY.busy_class}}">
        <div class="navbar-inner">
            <ul class="nav back-button" ng-show="top_bar.back_button != null">
                <li>
                    <a href="#" ng-click="top_bar.back_button.func(this);"><i ng-class="top_bar.back_button.icon"></i></a>
                </li>
            </ul>
            <ul class="nav">
                <li ng-hide="top_bar.title_menu != null">
                    <i ng-show="top_bar.title_icon != null" class="{{top_bar.title_icon}}"></i>
                    <a class="brand">{{top_bar.page_title}}</a>
                </li>
                <li ng-show="top_bar.title_menu != null">
                    <a href="#" class="brand dropdown-toggle" data-toggle="dropdown">
                        <i ng-hide="top_bar.title_icon != null" class="{{top_bar.title_icon}}"></i>
                        {{top_bar.page_title}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in top_bar.title_menu" class="touch">
                            <a href="#" ng-click="i.func(i);">
                                <i ng-show="i.icon!=null" class="{{i.icon}}"></i>
                                {{i.label}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li ng-repeat="i in top_bar.buttons" ng-class="i.type i.class" ng-click="i.func(this);">
                    <a href="#" ng-hide="i.type == 'divider-vertical'">
                        <span>{{i.label}} </span><i ng-class="i.icon"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b class="icon-chevron-down"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in top_bar.main_menu_items" class="{{i.type}}">
                            <a ng-hide="i.type == 'divider'" href="#" ng-click="i.func(i);">
                                <i ng-show="i.icon!=null" class="{{i.icon}}"></i>
                                {{i.label}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-clearer"></div>

    <div class="container-fluid">
        <div ng-view></div>
    </div>

</body>
</html>