<div ng-include src="top_bar_url"></div>
<div class="row-fluid content" ng-init="test = 'Test'">
    <div class="span2 offset1">
        <ul class="nav nav-tabs nav-stacked">
            <li ng-repeat="p in projects" class="{{p.active}}">
                <a href="#" ng-click="showProject(p);">{{p.Project.name}}</a>
            </li>
        </ul>
    </div>
    <div class="span8">
        <div class="well well-small">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                    <li><a href="#tab2" data-toggle="tab">Teams</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <p>{{project.description}}</p>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>Howdy, I'm in Section 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>