<div ng-include src="top_bar_url"></div>
<div class="row-fluid content">
    <div class="span3 offset1">
        <ul class="nav nav-tabs nav-stacked menu">
            <li class="text-right">
                <a href="#" ng-click="reload();" style="background: #fafafa;">Refresh Projects <i class="icon-refresh"></i></a>
            </li>
            <li ng-repeat="p in menu" ng-class="BS.activeClass($index)" ng-hide="BS.projects[BS.active_project_id].new">
                <a href="#" ng-click="showProject($index);">{{p.name}}
                    <i class="icon-edit" ng-show="BS.projects[$index].mode == 'edit'"></i>
                    <i class="icon-refresh"></i>
                </a>
            </li>
            <li class="text-right" style="background: #fafafa;">
                <a href="#" ng-click="newProject();">New Project <i class="icon-plus"></i></a>
            </li>
        </ul>
    </div>

    <div class="span7">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="{{description_active}}">
                    <a href="#" ng-click="showDescription();">Info</a>
                </li>
                <li class="{{teams_active}} {{teams_desabled}}">
                    <a href="#" ng-click="showTeams();">Teams</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane {{description_active}} tab1">
                    <div ng-hide="BS.activeProject('mode') == 'edit'">
                        <h3 ng-click="BS.editProject(BS.active_project_id);" style="cursor: pointer">
                            {{BS.activeProject('Project').name}} <i class="icon-edit"></i>
                        </h3>
                        <p>
                            {{BS.activeProject('Project').description}}
                        </p>
                    </div>
                    <p ng-show="BS.activeProject('mode') == 'edit'">
                        <input autofocus="true" onload="this.focus()" type="text" class="input-xlarge" ng-model="BS.activeProject('Project').name">
                        <span class="error" onload="this.focus()">{{BS.activeProject().errors.Project.name}}</span>
                        <textarea ng-model="BS.activeProject('Project').description"></textarea>
                        <input ng-disabled="busy_monitor > 0" type="submit" class="btn btn-small" value="Save" ng-click="BS.save(BS.active_project_id);">
                        <input ng-disabled="busy_monitor > 0" type="button" class="btn btn-small" value="Cancel" ng-click="BS.cancelEditProject(BS.active_project_id);">
                    </p>
                </div>
                <div class="tab-pane {{teams_active}} tab2">
                    <ul class="team_list">
                        <li class="team_box" ng-repeat="t in BS.activeProject('Project').Team">
                            <span class="name">{{t.name}} <button class="btn btn-link list-item-remove"><i class="icon-remove"></i></button></span>
                            <ul class="students_list">
                                <li ng-repeat="u in t.Student">{{u.username}}</li>
                                <li ng-click="addStudent(t.id);" class="text-right" style="cursor: pointer; background-color: #efefef">
                                    Add Student <i style="margin-left: 1em" class="icon-plus"></i>
                                </li>
                                <li ng-show="t_id == t.id"><input type="text" ng-model="search" class="search-query input-small" placeholder="Search"></li>
                                <li ng-show="t_id == t.id" ng-repeat="s in students | filter:s.User.role='STUDENT' && search"
                                        ng-click="add(t.id, s.User.id);">
                                    {{s.User.username}}
                                </li>
                            </ul>
                        </li>
                        <li style="clear: both;"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>