<!--
APP TOP BAR: configurable from the Controller
    $scope.top_bar = {
        [...]
    }
-->
<div class="activity_bar {{BUSY.busy_class}}" ng-show="BUSY.busy()"></div>
<div class="navbar navbar-fixed-top topbar {{BUSY.busy_class}}">
    <div class="navbar-inner">
        <!-- BACK BUTTON
        icon-chevron-left
        -->
        <ul class="nav" ng-show="top_bar.back_button != null">
            <li><a href="#" ng-click='top_bar.back_button.func(this);'><i ng-class="top_bar.back_button.icon"></i></a></li>
        </ul>
        <!-- PAGE TITLE -->
        <a ng-show="top_bar.title_menu != null" class="brand page_title" ng-click="toggleTitleMenu()" href="#">
            <i ng-show="top_bar.title_icon != null" class="{{top_bar.title_icon}}"></i>
            {{top_bar.page_title}}
        </a>
        <span ng-hide="top_bar.title_menu != null" class="brand page_title" style="margin-left: 0">
            <i ng-show="top_bar.title_icon != null" class="{{top_bar.title_icon}}"></i>
            {{top_bar.page_title}}
        </span>
        <div ng-show="top_bar.title_menu != null" class="dropdown pull-left title_menu {{titlemenu_open}}" style="top: 0; left: 0;">
            <ul class="dropdown-menu">
                <li ng-repeat="i in top_bar.title_menu">
                    <a tabindex="{{$index}}" ng-click="i.func(i);" href="#">
                        <i ng-show="i.icon!=null" class="{{i.icon}}"></i>
                        {{i.label}}
                    </a>
                </li>
            </ul>
        </div>
        <!-- BUTTONS AND MENU -->
        <ul class="nav" style="float: right;margin-right: 0px;">
            <!-- BUTTONS -->
            <!-- I.CLASS CAN BE item or divider-vertical -->
            <li ng-repeat="i in top_bar.buttons" class="{{i.type}}" ng-click="i.func(this);">
                <a href="#" ng-hide="i.type == 'divider-vertical'">
                    <span>{{i.label}} </span><i ng-class="i.icon"></i>
                </a>
            </li>
            <!--<li class="divider-vertical"></li>-->

            <!-- MAIN MENU -->
            <li class="item">
                <a href="#" ng-click="toggleMenu();">
                    <i class="icon-chevron-down"></i>
                </a>
                <div class="dropdown pull-right {{mainmenu_open}}">
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in top_bar.main_menu_items" class="{{i.type}}">
                            <a ng-hide="i.type == 'divider'" tabindex="{{$index}}" href="#" ng-click="i.func(i);">
                                <i ng-show="i.icon!=null" class="{{i.icon}}"></i>
                                {{i.label}}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>