.box {


    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;

    border: 1px solid #ededed;
    /*border-top: 2px solid #cccccc;*/
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);

}