.box {

    border: 1px solid #ededed;
    /*border-top: 2px solid #cccccc;*/
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);

}

.box.dark {
    background-color: #fcfcfc;
}

.login-form {
    width: 80%;
    margin-top: 2em;
    margin-left: 10%;
}

.clickable {
    cursor: pointer;
}


/* MODAL */
div.image-shower > div {
    bottom: 8%;
    top: 8%;
    padding: 15px;
}
div.image-shower div.modal-body {
    max-height: none;
    height: 100%;
    padding: 0;
}

div.image-shower div.modal-body > img {
    width: 100%;
}