.box {

    border: 1px solid #ededed;
    /*border-top: 2px solid #cccccc;*/
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.065);

}

.box.dark {
    background-color: #fcfcfc;
}

.login-form {
    margin-top: 2em;
    margin-left: 2em;
}