/* GENAERAL MENU LAYOUT */
div.menu {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 2em;

    -webkit-border-radius: 4px;
    border-radius: 4px 4px;
}

div.menu.shadow {
    -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.05);
}

div.menu.strong-shadow {
    -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

div.menu a, div.menu a:hover,
div.menu button, div.menu button:hover {
    text-decoration: none;
}

div.menu > div,
div.menu > ul > li {
    /* DIVIDER */
    position: relative;
    margin: 0;
    padding: 2px;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

div.menu > ul > li.question {
    background-color: #f0e68c;
}

div.menu > div {
    background-color: #fafafa;
}

div.menu > div:first-child {
    /* HEADER */
    border-top: 1px solid rgb(221, 221, 221);
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

div.menu > div.question:first-child {
    color: #000000;
    background-color: #fbb450;
}

div.menu > div:last-child {
    /* FOOTER */
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

div.menu > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.menu > div > a,
div.menu > div > span,
div.menu > ul > li > a,
div.menu .selector {
    display: block;
    padding: 8px 12px;
}

div.menu > div > div.functions,
div.menu > ul > li > div.functions,
div.menu > div > div.confirms,
div.menu > ul > li > div.confirms {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    right: 0;
    top: 0;
}

div.menu > div > div.functions > .function,
div.menu > ul > li > div.functions > .function {
    float: right;
    height: 100%;
    top: 0;
    margin-right: 5px;
}

div.menu > div > div.confirms > .confirm,
div.menu > ul > li > div.confirms > .confirm {
    height: 76%;
    top: 12%;
    position: relative;
    right: 5px;
}

div.menu > div.selector,
div.menu > ul > li.selector {
    padding: 10px 14px;
}

/*div.menu > div input.edit-field,*/
div.menu > ul > li > input.edit-field {
    font-size: 1.2em;
    position: relative;
    border: none;
    outline: none;
    margin: 0;
    top: 0;
    left: 0;
    width: 96%;
    height: 96%;
    padding: 2%;

    -webkit-appearance: none;
    appearance: none;
}
div.menu > ul > li > input.edit-field.function {
    width: 80%;
    padding: 2% 18% 2% 2%;
}

/* OTHER */

div.menu > ul > li.active,
div.menu > ul > li.active:hover,
div.menu > ul > li.active:focus {
    font-weight: bolder;
    background-color: aliceblue;
}

div.menu > ul > li.active.question,
div.menu > ul > li.active.question:hover,
div.menu > ul > li.active.question:focus {
    color: #000000;
    background-color: #fbb450;
}

.clickable {
    cursor: pointer;
}

textarea.edit-field {
    position: relative;
    margin: 0;
    /*top: 0;*/
    /*left: 0;*/
    border: none;
    font-size: 1.2em;
    -webkit-appearance: none;
    appearance: none;

    width: 98%;
    padding: 1%;
    height: 6em;
}