div.menu {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

div.menu > div,
div.menu > ul > li {
    /* DIVIDER */
    margin: 0;
    padding: 0;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

div.menu > ul > li.active {
    background-color: aliceblue;
}

div.menu > div {
    background-color: #fafafa;
}

div.menu > div:first-child {
    /* HEADER */
    border-top: 1px solid rgb(221, 221, 221);
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
}

div.menu > div:last-child {
    /* FOOTER */
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}

div.menu > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
