.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
}

/* Large desktop */
@media (min-width: 1200px) {
    .navbar-fixed-top .navbar-inner {
        padding-left: 5em;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .navbar-fixed-top .navbar-inner {
        padding-left: 7em;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .navbar-fixed-top .navbar-inner {
        padding-left: 9em;
    }

    .navbar-clearer {
        margin-top: 40px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .navbar-fixed-top .navbar-inner {
        padding-left: 11em;
    }

    .navbar-clearer {
        margin-top: 40px;
    }
}