/* Any Desktop*/
@media (min-width: 980px) {
    .navbar-clearer {
        margin-top: 45px;
    }
    .navbar-fixed-top .navbar-inner {
        padding-left: 1em;
    }
}
/* Any Mobile */
@media (max-width: 979px) {
    body {
        padding: 0;
    }
    .navbar-fixed-top {
       margin-bottom: 5px;
    }
}



@media (max-width: 768px) {
    .navbar-fixed-top {
        margin-left: 5px;
        margin-right: 5px;
    }
}