<div class="row-fluid">
    <div class="box dark">
        <form class="form-horizontal login-form" ng-hide="checking_login" ng-submit="login();">
            <div class="control-group" ng-show="login_message != null">
                <div class="controls">
                    <span class="alert alert-error text-center">{{login_message}}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">User Name</label>
                <div class="controls">
                    <input autofocus="true" type="text" ng-change="login_message = null;" id="inputEmail" placeholder="User Name" ng-model="username" value="s.susini">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" ng-change="login_message = null;" id="inputPassword" placeholder="Password" ng-model="password" value="30071980">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn" ng-disabled="busy_monitor > 0">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/client/js/controllers/loginCtrl.js"></script>