<div ng-include src="top_bar_url"></div>
<div class="row-fluid content">

    <div class="span3">
        <div class="menu shadow">
            <div>
                <a href="#" class="text-right" ng-click="loadAll();">
                    Refresh Projects <i class="icon-refresh"></i>
                </a>
            </div>
            <ul>
                <li>
                    <input type="text" placeholder="Filter Projects..." class="edit-field" ng-model="searchText">
                </li>
                <li ng-repeat="p in data | filter:searchText | orderBy:'name'" ng-class="selectedP(p.id)">
                    <a href="#" ng-click="go(p.id);">{{p.name}}
                        <i ng-show="selected_p_id == p.id && edit_p == true;" class="icon-pencil"></i>
                    </a>
                    <div class="functions" ng-show="selected_p_id == p.id">
                        <button class="btn-link function" ng-click="delete_p = true;" ng-hide="delete_p || edit_p"><i class="icon-remove"></i></button>
                    </div>
                    <div class="confirms">
                        <button class="btn btn-danger confirm" ng-click="deleteP();" ng-show="delete_p">Delete</button>
                        <button class="btn btn-success confirm" ng-click="delete_p = false;" ng-show="delete_p">Keep</button>
                    </div>
                </li>
            </ul>
            <div>
                <a href="#" class="text-right">
                    <button ng-click="go('new');" ng-hide="selected_p_id == 'new'" class="btn btn-success">New Project</button>
                    <button ng-click="go();" ng-show="selected_p_id == 'new'" class="btn btn-warning">Cancel New Project</button>
                </a>
            </div>
        </div>
    </div>

    <div class="span9" ng-show="selected_p_id != null">
        <!-- EXISTING ELEMENTS DISPLAY -->
        <div class="menu shadow" ng-hide="selected_p_id == 'new'">
            <div>
                <span>
                    <h4 class="clickable" ng-hide="edit_p" ng-click="edit_p = true;">
                        {{selected_p.name}} <i class="icon-pencil"></i>
                    </h4>
                    <!-- EDIT MODE -->
                    <span ng-show="edit_p">
                        <input autofocus="true" onload="this.focus()" type="text" class="input-xxlarge" ng-model="selected_p.name">
                        <span class="text-error" ng-repeat="error in getValidationsErrors(selected_elem_id).name"><br>{{error}}</span>
                    </span>
                </span>
            </div>
            <ul>
                <li>
                    <p class="selector" ng-hide="edit_p">
                        {{selected_p.description}}
                    </p>
                    <!-- EDIT MODE -->
                    <textarea class="edit-field" ng-model="selected_p.description"
                              ng-show="edit_p"></textarea>
                </li>
            </ul>
            <div ng-show="edit_p">
                <span>
                    <div class="btn-group">
                        <button ng-disabled="BUSY.busy();" type="submit" class="btn" ng-click="saveP();">Save</button>
                        <button ng-disabled="BUSY.busy();" type="button" class="btn" ng-click="unEditSelected();">Cancel</button>
                    </div>
                </span>
            </div>
        </div>
        <!-- NEW ELEMENT DISPLAY -->
        <div class="menu shadow" ng-show="selected_p_id == 'new'">
            <div>
                <span>
                    <span><input autofocus="true" onload="this.focus()" type="text" class="input-xxlarge" ng-model="selected_p.name"></span>
                    <span class="text-error" ng-repeat="error in selected_p.validation_errors.name"><br>{{error}}</span>
                </span>
            </div>
            <ul>
                <li>
                    <textarea class="edit-field" ng-model="selected_p.description"></textarea>
                </li>
            </ul>
            <div>
                <span>
                    <div class="btn-group">
                        <button ng-disabled="BUSY.busy();" type="submit" class="btn" ng-click="saveP();">Save</button>
                        <button ng-disabled="BUSY.busy();" type="button" class="btn" ng-click="cancelNewP();">Cancel</button>
                    </div>
                </span>
            </div>
        </div>

        <!-- DOWN LINE - FOR EXISTING ELEMENTS -->

        <div class="row-fluid" ng-hide="selected_p_id == 'new'">

            <div class="span4">
                <div class="menu shadow">
                    <div class="text-right">
                        <span><strong>Teams <i class="icon-briefcase"></i></strong></span>
                    </div>
                    <ul>
                        <li ng-repeat="t in selected_p.teams" ng-class="selectedT(t.id)">
                            <a href="#" ng-hide="edit_t" ng-click="go(selected_p_id, t.id);">{{t.name}}</a>
                            <span ng-show="edit_t">
                                <input autofocus="true" onload="this.focus()" type="text" class="edit-field" ng-model="t.name">
                            </span>
                            <div class="functions" ng-show="selected_t_id == t.id">
                                <button ng-disabled="BUSY.busy();" ng-show="edit_t" type="submit" class="btn-link function" ng-click="saveT();"><i class="icon-ok"></i></button>
                                <button ng-disabled="BUSY.busy();" ng-show="edit_t" type="submit" class="btn-link function" ng-click="unEditT();"><i class="icon-remove"></i></button>

                                <button class="btn-link function" ng-click="delete_t = true;" ng-hide="delete_t || edit_t"><i class="icon-remove"></i></button>
                                <button class="btn-link function" ng-click="editTeam();" ng-hide="delete_t || edit_t"><i class="icon-pencil"></i></button>
                            </div>
                            <div class="confirms">
                                <button class="btn btn-danger confirm" ng-click="deleteT();" ng-show="delete_t">Delete</button>
                                <button class="btn btn-success confirm" ng-click="delete_t = false" ng-show="delete_t">Keep</button>
                            </div>
                        </li>
                        <li ng-show="new_team != null" ng-class="isSelectedTeam(new_team_id);" ng-click="selectTeam(new_team_id);">
                            <input class="edit_field" placeholder="New Team..." onfocus="this.focus()" autofocus="true" ng-model="new_team.name">
                        </li>
                    </ul>
                    <div class="text-right">
                        <a href="#" class="text-right">
                            <!--<button ng-click="newProject();" ng-disabled="new_project != null" class="btn btn-success">New Project</button>-->
                            <button ng-click="newTeam();" class="btn btn-success" ng-show="new_team == null;">New Team</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="span4" ng-show="selected_t != null">
                <div class="menu shadow">
                    <div class="text-right">
                        <span><strong>Team Members <i class="icon-user"></i></strong></span>
                    </div>
                    <ul>
                        <li ng-repeat="u in selected_t.students" ng-init="remove_m = false">
                            <a>{{u.username}}</a>
                            <div class="functions">
                                <button class="btn-link function" ng-click="remove_m = true" ng-hide="remove_m == true"><i class="icon-remove"></i></button>
                            </div>
                            <div class="confirms">
                                <button class="btn btn-danger confirm" ng-click="removeMember(selected_t_id, u.id);" ng-show="remove_m == true">Remove Member</button>
                                <button class="btn btn-success confirm" ng-click="remove_m = false" ng-show="remove_m == true">Keep</button>
                            </div>
                        </li>
                    </ul>
                    <div class="text-right">
                        <span><button ng-click="add_member = true;" ng-disabled="add_member" class="btn btn-success">Add Member</button></span>
                    </div>
                </div>
            </div>

            <div class="span4" ng-show="add_member">
                <div class="menu shadow">
                    <div class="text-right">
                        <span><strong>Add Memeber <i class="icon-plus"></i></strong></span>
                    </div>
                    <ul>
                        <li ng-repeat="u in member_list">
                            <a href="#" ng-click="addMember(selected_t_id, u.id)">
                                <i class="icon-chevron-left"></i> {{u.username}}
                            </a>
                        </li>
                    </ul>
                    <div class="text-right">
                        <span><button ng-click="add_member = false;" class="btn btn-warning">Close</button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/client/js/controllers/projectsCtrl.js"></script>