<div class="row-fluid">

    <div class="span3">
        <div class="menu shadow">
            <div>
                <a href="#" class="text-right" ng-click="loadAll();">
                    Refresh Projects <i class="icon-refresh"></i>
                </a>
            </div>
            <ul>
                <li>
                    <input type="text" placeholder="Filter Projects..." class="edit-field" ng-model="searchText">
                </li>
                <li ng-repeat="item in data | filter:searchText | orderBy:'-modified'" ng-class="isSelectedElem(p.id)">
                    <a href="#" ng-click="selectElem(p.id);">{{p.name}}
                        <i ng-show="isEditElem(p.id)" class="icon-pencil"></i>
                    </a>
                    <div class="functions">
                        <button class="btn-link function" ng-click="deleteElem(false, p.id);" ng-hide="isDeleteElem(p.id) || isEditElem(p.id)"><i class="icon-remove"></i></button>
                    </div>
                    <div class="confirms">
                        <button class="btn btn-danger confirm" ng-click="deleteElem(true, p.id);" ng-show="isDeleteElem(p.id)">Delete</button>
                        <button class="btn btn-success confirm" ng-click="cancelDeleteElem(p.id)" ng-show="isDeleteElem(p.id)">Keep</button>
                    </div>
                </li>
                <li ng-show="isNewElem()" ng-class="isSelectedElem(new_elem_id)">
                    <a href="#" ng-click="selectElem(new_elem_id);">{{new_elem.name}} <i class="icon-edit"></i></a>
                </li>
            </ul>
            <div>
                <a href="#" class="text-right">
                    <button ng-click="newElem();" ng-hide="isNewElem()" class="btn btn-success">New Project</button>
                    <button ng-click="cancelNewElem();" ng-show="isNewElem()" class="btn btn-warning">Cancel New Project</button>
                </a>
            </div>
        </div>
    </div>

</div>
<script src="/client/js/controllers/student.js"></script>