<div class="row-fluid">

    <div class="span4">
        <div class="menu shadow">
            <div>
                <a href="#" class="text-right" ng-click="reload();">
                    Refresh Activity Logs <i class="icon-refresh"></i>
                </a>
            </div>
            <ul>
                <li>
                    <input type="text" placeholder="Filter Activity Logs..." class="edit-field" ng-model="searchText">
                </li>
                <li ng-repeat="item in data | filter:searchText | orderBy:'-modified'" ng-class="isSelectedElem(p.id)">
                    <a href="#" ng-click="selectElem(p.id);">{{item.title}}
                        <i ng-show="isEditElem(p.id)" class="icon-pencil"></i>
                    </a>
                    <div class="functions">
                        <button class="btn-link function" ng-click="item.deleting = true" ng-hide="item.deleting"><i class="icon-remove"></i></button>
                    </div>
                    <div class="confirms">
                        <button class="btn btn-danger confirm" ng-click="deleteElem(item.id);" ng-show="item.deleting">Delete</button>
                        <button class="btn btn-success confirm" ng-click="item.deleting = false" ng-show="item.deleting">Keep</button>
                    </div>
                </li>
                <li ng-show="isNewElem()" ng-class="isSelectedElem(new_elem_id)">
                    <a href="#" ng-click="selectElem(new_elem_id);">{{new_elem.name}} <i class="icon-edit"></i></a>
                </li>
            </ul>
            <div>
                <a href="#" class="text-right" ng-init="new_al = false">
                    <button ng-click="new_al = true" ng-hide="new_al" class="btn btn-success">New Activity Log</button>
                    <button ng-click="new_al = false" ng-show="new_al" class="btn btn-warning">Cancel New Activity Log</button>
                </a>
            </div>
        </div>
    </div>

</div>
<script src="/client/js/controllers/student.js"></script>