<iframe style="position: fixed; display: block; width: 0px; height: 0px; visibility: hidden; right: 0;" id="iframe"
        name="iframe">
</iframe>

<div class="row-fluid">

    <div modal="imageIsOpen" close="closeImage()" options="optsImage">
        <div class="modal-body clickable">
            <img ng-src="/media/download/{{imageID}}" ng-click="download(imageID);">
        </div>
    </div>

    <div class="span4" ng-hide="isMobile && selected_al != null;">
        <div class="menu shadow">
            <div>
                <a href="#" class="text-right" ng-click="reload();">
                    Refresh Activity Logs <i class="icon-refresh"></i>
                </a>
            </div>
            <ul>
                <li>
                    <input type="text" placeholder="Filter Activity Logs..." class="edit-field" ng-model="searchText">
                </li>
                <li ng-repeat="item in data | filter:searchText | orderBy:'-modified'" ng-class="selected(item.id)">
                    <a href="#" ng-click="go(item.id);">
                        <span class="label label-important" ng-show="item.question == true">Q</span>
                        {{item.title}} <i ng-show="isEditElem(p.id)" class="icon-pencil"></i><br>
                        <small>
                            <em>{{item.modified_human}}</em> <strong>by:</strong> {{item.user.username}}
                            <span class="label label-info"
                                  ng-show="item.media.length > 0">M:{{item.media.length}}</span>
                            <span class="label label-info"
                                  ng-show="item.comments.length > 0">C:{{item.comments.length}}</span>
                        </small>
                    </a>

                    <div class="functions">
                        <button class="btn-link function" ng-click="item.deleting = true" ng-hide="item.deleting || item.user_id != user.id;">
                            <i class="icon-remove"></i>
                        </button>
                    </div>
                    <div class="confirms">
                        <button class="btn btn-danger confirm" ng-click="delete(item.id);" ng-show="item.deleting">
                            Delete
                        </button>
                        <button class="btn btn-success confirm" ng-click="item.deleting = false" ng-show="item.deleting">
                            Keep
                        </button>
                    </div>
                </li>
                <li ng-show="isNewElem()" ng-class="isSelectedElem(new_elem_id)">
                    <a href="#" ng-click="selectElem(new_elem_id);">{{new_elem.name}} <i class="icon-edit"></i></a>
                </li>
            </ul>
            <div>
                <a href="#" class="text-right">
                    <button ng-click="go('new');" ng-hide="selected_al_id == 'new'"
                            class="btn btn-success">New Activity Log
                    </button>
                    <button ng-click="go();" ng-show="selected_al_id == 'new'" class="btn btn-warning">Cancel New
                        Activity Log
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="span8" ng-show="selected_al != null;">
        <div class="menu shadow" ng-init="edit = false;">
            <div>
                <span ng-show="selected_al.user_id == user.id;">

                    <h4 class="clickable" ng-hide="edit == true;" ng-click="editSelected();">
                        {{selected_al.title}} <i class="icon-pencil"></i>
                    </h4>
                    <!-- EDIT MODE -->
                    <span ng-show="edit == true">
                        <input autofocus="true" onload="this.focus()" type="text" class="input-xxlarge" ng-model="edit_selected.title">
                    </span>
                </span>
                <span ng-hide="selected_al.user_id == user.id;">
                    <h4>
                        {{selected_al.title}}
                    </h4>
                </span>
            </div>
            <ul>
                <li>
                    <p class="selector" ng-hide="edit == true">
                        {{selected_al.content}}
                    </p>
                    <!-- EDIT MODE -->
                    <textarea class="edit-field" ng-model="edit_selected.content"
                              ng-show="edit == true"></textarea>
                </li>
            </ul>
            <div ng-show="edit == true">
                <span>
                    <div class="btn-group">
                        <button ng-disabled="BUSY.busy();" type="submit" class="btn" ng-click="save();">Save</button>
                        <button ng-disabled="" type="button" class="btn" ng-click="unEditSelected();">Cancel</button>
                    </div>
                </span>
            </div>
            <div ng-hide="edit == true" ng-init="showInfo = false">
                <a href="#" ng-click="showInfo = !showInfo">
                    <strong>Info</strong>
                    <i class="icon-circle-arrow-right" ng-hide="showInfo"></i>
                    <i class="icon-circle-arrow-down" ng-show="showInfo"></i>
                </a>
            </div>
            <ul ng-show="edit == false && showInfo">
                <li>
                    <span class="selector">
                        <p><strong>Author:</strong> {{selected_al.user.username}}<span
                                ng-show="selected_al.user_id == user.id;"> ( You )</span>
                        </p>
                        <p><strong>Created:</strong> {{selected_al.created_human}}<br></p>
                        <p><strong>Modified:</strong> {{selected_al.modified_human}}</p>
                    </span>
                </li>
            </ul>
            <div ng-hide="edit == true" ng-init="showMedia = false">
                <a href="#" ng-click="showMedia = !showMedia">
                    <strong>Media</strong>
                    <span class="badge"
                          ng-show="selected_al.media != null && selected_al.media.length > 0;"
                          style="float: right">
                        {{selected_al.media.length}}
                    </span>
                    <i class="icon-circle-arrow-right" ng-hide="showMedia"></i>
                    <i class="icon-circle-arrow-down" ng-show="showMedia"></i>
                </a>
            </div>
            <ul ng-hide="edit == true">
                <li ng-show="showMedia && (selected_al.media == null || selected_al.media.length == 0);">
                    <div class="selector"><em>No Media present...</em></div>
                </li>
                <li ng-show="showMedia && (selected_al.media != null && selected_al.media.length > 0);">
                    <ul class="thumbnails">
                        <li ng-repeat="m in selected_al.media" class="span3" style="margin: 3px">
                            <div class="thumbnail clickable">
                                <img ng-src="/media/download/{{m.id}}?thumb=BIG" alt="{{m.filename}}"
                                     ng-show="m['content-type'].indexOf('image/') == 0" ng-click="openImage(m.id)">

                                <img ng-src="{{getThumbUrl(m);}}" alt="{{m.filename}}"
                                     ng-hide="m['content-type'].indexOf('image/') == 0"
                                     ng-click="download(m['id']);">

                                <p>{{m.filename}}</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div ng-hide="edit == true" ng-init="showComments = false">
                <a href="#" ng-click="showComments = !showComments">
                    <strong>Comments</strong>
                    <span class="badge"
                          ng-show="selected_al.comments != null && selected_al.comments.length"
                          style="float: right">
                        {{selected_al.comments.length}}
                    </span>
                    <i class="icon-circle-arrow-right" ng-hide="showComments"></i>
                    <i class="icon-circle-arrow-down" ng-show="showComments"></i>
                </a>
            </div>
            <ul ng-show="edit == false && showComments">
                <li ng-show="showComments && (selected_al.comments == null || selected_al.comments.length == 0);">
                    <div class="selector"><em>No Comments yet...</em></div>
                </li>
                <li ng-repeat="c in selected_al.comments">
                    <p class="selector"><strong>{{selected_al.user.username}} says:</strong></p>

                    <p class="selector">{{c.content}}</p>

                    <p class="selector"><strong>on:</strong> {{c.modified}}</p>
                    <ul class="thumbnails">
                        <li ng-repeat="m in c.media" class="span3" style="margin: 3px">
                            <div class="thumbnail clickable" class="clickable">
                                <img ng-src="/media/download/{{m.id}}?thumb=BIG" alt="{{m.filename}}"
                                     ng-show="m['content-type'].indexOf('image/') == 0" ng-click="openImage(m.id)">

                                <img ng-src="{{getThumbUrl(m);}}" alt="{{m.filename}}"
                                     ng-hide="m['content-type'].indexOf('image/') == 0"
                                     ng-click="download(m['id']);">

                                <p>{{m.filename}}</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div>

            </div>
        </div>

    </div>

    <div class="span8" ng-show="selected_al_id == 'new'">
        <form id="alform" class="" target="iframe" action='/activity_logs' method='POST'
              enctype='multipart/form-data'>
            <div class="menu shadow">
                <div>
                <span>
                    <input autofocus="true" onload="this.focus()" type="text" class="input-xxlarge" placeholder="Title"
                           name="data[ActivityLog][title]">
                </span>
                </div>
                <ul>
                    <li>
                        <div class="selector">
                            <div class="control-group">
                                <div class="controls">
                                    <textarea name='data[ActivityLog][content]' class="edit-field" placeholder="Content" style="border: 1px solid #f4f4f4"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="data[ActivityLog][visibility_level]">Visibility
                                    level</label>

                                <div class="controls">
                                    <select name='data[ActivityLog][visibility_level]'>
                                        <option selected>PRIVATE</option>
                                        <option>SUPERVISOR</option>
                                        <option>TEAM</option>
                                        <option>PUBLIC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        <input name='data[ActivityLog][question]' type="checkbox"> Question
                                    </label>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <label class="cont rol-label" for="data[ActivityLog][visibility_level]">Files</label>
                                </div>
                            </div>
                            <div class="control-group" ng-repeat="file in files">
                                <div class="controls">
                                    <input type='file' name='data[Media][{{$index}}]'>
                                <span class="btn btn-link" ng-click='removeFile($index);'><button
                                        class="btn btn-mini btn-warning"><i class="icon-remove"></i></button></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <span tabindex="-1" class="btn" ng-click='addFile();'><i class="icon-file"></i> add file</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div>
                <span>
                    <div class="btn-group">
                        <button ng-disabled="BUSY.busy();" ng-click="startWatching();" type="submit" class="btn">Save
                        </button>
                        <button type="button" class="btn" ng-click="go();">Cancel</button>
                    </div>
                </span>
                </div>
            </div>
        </form>
    </div>

</div>
<script src="/client/js/controllers/student.js"></script>