<div class="row-fluid content">

    <div class="span3">
        <div class="menu shadow">
            <div>
                <a href="#" class="text-right" ng-click="reloadUsers();">
                    Refresh Users' List <i class="icon-refresh"></i>
                </a>
            </div>
            <ul>
                <li>
                    <input type="text" placeholder="Filter Users..." class="edit-field" ng-model="searchText">
                </li>
                <li ng-repeat="u in data | filter:searchText" ng-class="selectedU(u.id);">
                    <a href="#" ng-click="go(u.id);">{{u.username}}
                        <i ng-show="isEditUser(u.id)" class="icon-pencil"></i>
                    </a>
                    <div class="functions" ng-show="selected_u_id == u.id" ng-init="delete_u = false; edit_u = false;">
                        <button class="btn-link function" ng-click="delete_u = true;" ng-hide="delete_u || edit_u"><i class="icon-remove"></i></button>
                    </div>
                    <div class="confirms">
                        <button class="btn btn-danger confirm" ng-click="deleteSelectedU();" ng-show="delete_u">Delete</button>
                        <button class="btn btn-success confirm" ng-click="delete_u = false;" ng-show="delete_u">Keep</button>
                    </div>
                </li>
            </ul>
            <div>
                <a href="#" class="text-right">
                    <button ng-click="go('new');" ng-hide="selected_u_id == 'new'" class="btn btn-success">New User</button>
                    <button ng-click="go();" ng-show="selected_u_id == 'new'" class="btn btn-warning">Cancel</button>
                </a>
            </div>
        </div>
    </div>

    <div class="span9">
        <div class="menu shadow" ng-hide="selected_u_id == 'new' || selected_u_id == null">
            <div>
                <span>
                    <h4 class="clickable" ng-hide="edit_u" ng-click="editSelectedU();">
                        {{selected_u.username}} <i class="icon-pencil"></i>
                    </h4>
                    <!-- EDIT MODE -->
                    <span ng-show="edit_u">
                        <input autofocus="true" onload="this.focus()" type="text" class="input-xxlarge"
                               ng-model="selected_u.username">
                    </span>
                </span>
            </div>
            <ul>
                <li>
                    <dl class="selector" ng-hide="edit_u">
                        <dt><strong>Name:</strong></dt>
                        <dd>{{selected_u.profile.name}}</dd>
                        <dt><strong>Id number:</strong></dt>
                        <dd>{{selected_u.profile.id_number}}</dd>
                        <dt><strong>E-Mail:</strong></dt>
                        <dd>{{selected_u.email}}</dd>
                        <dt><strong>Role:</strong></dt>
                        <dd>{{selected_u.role}}</dd>
                        <div ng-show="selected_u.role == 'STUDENT'">
                            <dt><strong>Supervisor:</strong></dt>
                            <dd ng-show="selected_u.supervisor != null">
                                {{selected_u.supervisor.username}}
                            </dd>
                            <dd ng-hide="selected_u.supervisor != null">
                                not assigned [ <a href="#" ng-click="assignSupervisor()">Assign Supervisor</a> ]
                            </dd>
                        </div>
                    </dl>
                    <dl class="selector" ng-show="edit_u">
                        <dt><strong>Name:</strong></dt>
                        <dd><input ng-model="selected_u.profile.name"></dd>
                        <dt><strong>Id number:</strong></dt>
                        <dd><input ng-model="selected_u.profile.id_number"></dd>
                        <dt><strong>E-Mail:</strong></dt>
                        <dd><input ng-model="selected_u.email"></dd>
                        <dt><strong>Role:</strong></dt>
                        <dd>
                            <select ng-model="selected_u.role">
                                <option ng-repeat="r in [ 'STUDENT', 'SUPERVISOR', 'ADMIN' ]">{{r}}</option>
                            </select>
                        </dd>
                        <!--<div ng-show="selected_u.role == 'STUDENT'">-->
                            <!--<dt><strong>Supervisor:</strong></dt>-->
                            <!--<dd ng-show="selected_u.supervisor.username != null">-->
                                <!--{{selected_u.supervisor.username}}-->
                            <!--</dd>-->
                            <!--<dd ng-hide="selected_u.supervisor.username != null">-->
                                <!--not assigned [ <a href="#" ng-click="assignSupervisor()">Assign Supervisor</a> ]-->
                            <!--</dd>-->
                        <!--</div>-->
                    </dl>
                </li>
            </ul>
            <div ng-show="edit_u">
                <span>
                    <div class="btn-group">
                        <button ng-disabled="BUSY.busy();" type="submit" class="btn" ng-click="saveU();">Save</button>
                        <button ng-disabled="BUSY.busy();" type="button" class="btn" ng-hide="selected_u_id == 'new'" ng-click="unEditSelectedU();">Cancel</button>
                        <button ng-disabled="BUSY.busy();" type="button" class="btn" ng-show="selected_u_id == 'new'" ng-click="go();">Cancel</button>
                    </div>
                </span>
            </div>
        </div>

    </div>

</div>
<script src="/client/js/controllers/usersCtrl.js"></script>